@model IEnumerable<WebBanVeMayBay.Models.Ticket>
@{
    ViewBag.Title = "SearchTicketResult";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase">Danh sách vé của bạn</strong>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thread>
                <tr>
                    <th>Mã vé:</th>
                    <th>Mã chuyến bay</th>
                    <th>Tên chuyến bay</th>
                    <th>Ngày khởi hành</th>
                    <th>Giờ khởi hành</th>
                    <th>Giá vé</th>
                    <th>Họ tên KH</th>
                    <th>Căn cước công dân KH</th>
                    <th>Số điện thoại KH</th>
                    <th>Ngày đặt vé</th>
                    <th>Trạng thái</th>
                    <th class="text-center">Hủy vé</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @item.Id
                        </th>

                        <th>@item.PlanId</th>

                        <th>@item.PlanName</th>
                        <th>@item.Date</th>

                        <th>@item.Time</th>

                        <th>@item.Price</th>

                        <th>@item.ClientName</th>

                        <th>@item.ClientId</th>
                        <th>@item.PhoneNumber</th>
                        <th>@item.CreateDate</th>
                        <th>
                            @if (item.Status == 0)
                            {
                                <p> Chưa thanh toán</p>
                            }
                            else
                            {
                                <p> Đã thanh toán</p>
                            }
                        </th>

                        <th class="text-center">
                            <a class="btn btn-sm btn-success"
                               href="@Url.Action("Huyve", "TrangChu",
                                    new {Id = item.Id
                                        //PlainId = item.PlanId,
                                        //PlanName = item.PlanName,
                                        //Date = item.Date,
                                        //Time = item.Time,
                                        //Price = item.Price,
                                        //ClientName = item.ClientName,
                                        //ClientId = item.ClientId,
                                        //PhoneNumber = item.PhoneNumber
                                    })"> Hủy Vé</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>