@*<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>*@
<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Library/home.css" rel="stylesheet" />
    <script src="~/Library/home1.js"></script>
    <link href="~/Library/home2.css" rel="stylesheet" />
    <script src="~/Library/home3.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/LayoutAd.css" rel="stylesheet" />
    <link href="~/Public/css/css/all.min.css" rel="stylesheet" />
    <link href="~/Library/DatVe/Datve.css" rel="stylesheet" />
    @*<link href="~/Library/DatVe/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Library/DatVe/css/style.css" rel="stylesheet" />
        <img src="~/Library/DatVe/img/background.jpg" />*@

    @*<link href="~/Library/font-awesome.css" rel="stylesheet" />
        <link href="~/Library/style.css" rel="stylesheet" />*@
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("head", required: false)

    <style>
        .background-bar {
            background-color: #08403A; /*xanh*/
        }

        .background-bg {
            background-color: #D1D1D1; /*Xám*/
        }
    </style>
</head>
<body>
    <section class="clearfix header background-bar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark background-bar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">HQK</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Trangchu")">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("Complain", "Trangchu")">Giải quyết khiếu nại</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("TicketSearch", "Trangchu")">Tra cứu vé</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="clearfix maincontent">
        <div class="container-fluid py-3">
            @RenderBody()
        </div>
    </section>
    <section class="clearfix footer background-bar">
        <div class="container-fluid text-black-50 text-center py-3">
            <a class="text-white">Design by HQK</a>
        </div>
    </section>
    @RenderSection("Footer", required: false)
</body>
</html>
