@model IEnumerable<WebBanVeMayBay.Models.Ticket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}
@using (Html.BeginForm("Filter", "Ticket", FormMethod.Get))
{
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-uppercase">Danh sách vé chuyến bay</strong>
                </div>
                <div class="col-md-6 text-end">
                    <select name="Filter">
                        <option selected>Bộ lọc</option>
                        <option value="Đã Thanh Toán">Đã Thanh Toán</option>
                        <option value="Chưa Thanh Toán">Chưa Thanh Toán</option>
                    </select>
                    <button class="btn btn-sm btn-success">Lọc</button>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <table class="table table-bordered table-hover">
                <thread>
                    <tr>
                        @*<th style="width:20px;" class="text-center">#</th>*@
                        <th>Mã vé</th>
                        <th>Mã chuyến bay</th>
                        <th>Tên chuyến bay</th>
                        <th>Ngày bay</th>
                        <th>Thời gian bay</th>
                        <th>Giá vé</th>
                        <th>Họ tên KH</th>
                        <th>Số điện thoại KH</th>
                        <th>CCCD KH</th>
                        <th>Ngày tạo vé</th>
                        <th class="text-center">Chức năng</th>
                    </tr>
                </thread>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <th>@item.PlanId</th>
                            <th>@item.PlanName</th>
                            <th>@item.Date </th>
                            <th>@item.Time</th>
                            <th>@item.Price</th>
                            <th>@item.ClientName</th>
                            <th>@item.PhoneNumber</th>
                            <th>@item.ClientId</th>
                            <th>@item.CreateDate</th>
                            <th class="text-center">
                                @if (item.Status == 0)
                                {
                                    <a href="@Url.Action("Status", "Ticket", new { @id = item.Id })" class="btn btn-sm btn-danger ">
                                        Chưa thanh toán
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Status", "Ticket", new { @id = item.Id })" class="btn btn-sm btn-success ">
                                        Đã thanh toán
                                    </a>
                                }
                                <a href="@Url.Action("Delete", "Ticket", new { @id = item.Id })" class="btn btn-sm btn-danger ">
                                    Xóa
                                </a>
                                <a href="@Url.Action("BillExport", "Ticket", new { @id = item.Id })" class="btn btn-sm btn-info ">
                                    Xuất hóa đơn
                                </a>

                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


