@model IEnumerable<WebBanVeMayBay.Models.Category>

@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase">Thùng rác</strong>
            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("Index", "Category")" class="btn btn-sm- btn-success">Trở lại danh sách</a>
            </div>
        </div>
    </div>

    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thread>
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th>Tên loại chuyến bay</th>

                    <th class="text-center">Chức năng</th>
                    <th class="text-center">ID</th>

                </tr>

            </thread>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th style="width:20px;" class="text-center">
                            <input name="checkId" type="checkbox" />
                        </th>
                        <th>@item.Name</th>
                        <th class="text-center">

                            <a href="@Url.Action("ReStore", "Category", new { @id = item.Id })" class="btn btn-sm btn-info ">
                                Khôi phục
                            </a>
                            <a href="@Url.Action("Delete", "Category", new { @id = item.Id })" class="btn btn-sm btn-danger ">
                                Xóa
                            </a>

                        </th>
                        <th class="text-center">@item.Id</th>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>


