@model IEnumerable<WebBanVeMayBay.Models.WeekReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAd.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">Danh sách báo cáo Tuần</strong>
            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("Create", "WeekReport")" class="btn btn-sm- btn-success">Thêm</a>
                @*<a href="@Url.Action("Trash", "Product")" class="btn btn-sm- btn-success">Thùng rác</a>*@
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thread>
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th>Tên báo cáo</th>
                    <th>Ngày</th>
                    <th>Số vé bán</th>
                    <th>Doanh thu</th>
                    <th>Tỷ lệ</th>
                    <th class="text-center">Chức năng</th>
                    <th class="text-center">ID</th>

                </tr>

            </thread>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th style="width:20px;" class="text-center">
                            <input name="checkId" type="checkbox" />
                        </th>
                        <th>@item.Name</th>
                        <th>@item.Day</th>
                        <th>@item.Number</th>
                        <th>@item.Revenue</th>
                        <th>@item.Rate</th>
                        <th class="text-center">
                            <a href="@Url.Action("Edit", "WeekReport", new { @id = item.Id })" class="btn btn-sm btn-info ">
                                Chỉnh sửa
                            </a>
                            <a href="@Url.Action("Details", "WeekReport", new { @id = item.Id })" class="btn btn-sm btn-warning ">
                                Chi tiết
                            </a>
                            <a href="@Url.Action("Delete", "WeekReport", new { @id = item.Id })" class="btn btn-sm btn-danger ">
                                Xóa
                            </a>

                        </th>
                        <th class="text-center">@item.Id</th>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>